* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body:has(#theme:checked) {
  background-color: white;
  color: black;
}

body:has(#theme:checked) .portfolio_list li {
  transition: background-color 0.5s ease;
  background-color: rgb(17, 17, 17);
}

body:has(#theme:checked) .portfolio_list p {
  color: white;
}

body:has(#theme:checked) .portfolio h2 {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .portfolio_description {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .hero__title {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .hero p {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .hero-action__link-secondary {
  color: rgb(17, 17, 17);
  border: 1px solid rgb(17, 17, 17);
}

body:has(#theme:checked) .hero_badge {
  color: rgb(17, 17, 17);
  border: 1px solid rgb(17, 17, 17);
}

body:has(#theme:checked) .about p {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .about h2 {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .about h3 {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .link {
  color: rgb(17, 17, 17);
  border: 1px solid rgb(17, 17, 17);
}

body:has(#theme:checked) .contacts h2 {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .contacts h3 {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .contacts p {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .contact_link {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .input:focus {
  border-bottom: 1px solid rgb(198, 198, 198);
}

body:has(#theme:checked) .input {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .text-area:focus {
  border: 1px solid rgb(198, 198, 198);
}

body:has(#theme:checked) .text-area {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .footer p {
  color: rgb(17, 17, 17);
}

body:has(#theme:checked) .black_icon {
  filter: invert(1);
}

body {
  background-color: #171717;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.container {
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .container {
    padding: 0 100px;
    max-width: 1400px;
  }
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text {
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .footer_text {
    font-size: 14px;
  }
}

.foot_link {
  background-color: #27ae60;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
@media screen and (min-width: 480px) {
  .foot_link {
    width: 40px;
    height: 40px;
  }
}

.foot_link img {
  width: 16px;
}
@media screen and (min-width: 480px) {
  .foot_link img {
    width: 22px;
  }
}

.foot_link:hover {
  transform: scale(1.1);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header__wrapper {
    flex-wrap: nowrap;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #27ae60;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.logo {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  order: 0;
}

.navigation-menu {
  display: flex;
  gap: 32px;
  order: 2;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .navigation-menu {
    order: 1;
  }
}
@media screen and (min-width: 769px) {
  .navigation-menu {
    margin-left: auto;
    order: 1;
  }
}

.navigation-menu__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  position: relative;
}

.navigation-menu__link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #171717;
  position: absolute;
  bottom: -5px;
  transition: width 1s ease;
  border-radius: 3px;
}

.navigation-menu__link:hover::after {
  width: 100%;
}

.old_toggle {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.new_toggle {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transition: background-color 0.5s linear;
}

.new_toggle::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.5s ease-in-out;
  transition: background-color 0.5s linear;
}

.old_toggle:checked + .new_toggle {
  background-color: rgb(17, 17, 17);
  transition: transform 0.5s ease-in-out;
  transition: background-color 0.5s linear;
}

.old_toggle:checked + .new_toggle::before {
  transform: translateX(25px);
  background-color: #e9e9eb;
  transition: transform 0.5s ease-in-out;
  transition: background-color 0.5s linear;
}

.theme_wrapper {
  position: relative;
  width: 50px;
  height: 24px;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  order: 1;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .theme_wrapper {
    order: 2;
  }
}
@media screen and (min-width: 769px) {
  .theme_wrapper {
    order: 2;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .theme_wrapper {
    order: 2;
    margin-left: 32px;
  }
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .about_title {
    font-size: 48px;
  }
}

.about_description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 16px auto 0;
  max-width: 576px;
}
@media screen and (min-width: 480px) {
  .about_description {
    font-size: 18px;
  }
}

.about_img {
  border-radius: 16px;
  max-width: 560px;
  max-height: 396px;
  height: auto;
  width: 100%;
}

.about_paragraph_marked {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: justify;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .about_paragraph_marked {
    font-size: 18px;
  }
}

.about_paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: #fff;
  margin-top: 24px;
}
@media screen and (min-width: 480px) {
  .about_paragraph {
    font-size: 18px;
    margin-top: 32px;
  }
}

.link {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  width: 143px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  outline: 1px solid #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 32px;
  transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .link {
    margin-top: 64px;
  }
}

.link:hover {
  transform: scale(1.1);
}

.aver_about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 16px;
}
@media screen and (min-width: 480px) {
  .aver_about {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .aver_about {
    flex-wrap: nowrap;
    gap: 80px;
    margin-top: 56px;
  }
}

.about_text {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .about_text {
    max-width: 670px;
  }
}
@media screen and (min-width: 1200px) {
  .about_text {
    max-width: 560px;
    align-items: start;
  }
}

.list_title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
}

.about_list {
  display: flex;
  margin-top: 32px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
@media screen and (min-width: 768px) {
  .about_list {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .about_list {
    margin-top: 64px;
  }
}

.about_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.icon_circle {
  width: 120px;
  height: 120px;
  background: #212121;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_circle img {
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list_title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  margin: 8px;
}

.list_paragraph {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  width: 200px;
}

.hero {
  padding-top: 165px;
  padding-bottom: 50px;
  /* padding-top: 140px; */
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 165px;
    padding-bottom: 50px;
  }
}

.hero__subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.hero__title {
  margin-top: 8px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .hero__title {
    margin-top: 14px;
  }
}
@media screen and (min-width: 1201px) {
  .hero__title {
    margin-top: 18px;
  }
}

.hero__description {
  margin-top: 16px;
  max-width: 560px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .hero__description {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1201px) {
  .hero__description {
    margin-top: 30px;
  }
}

.hero-action {
  margin-top: 40px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .hero-action {
    margin-top: 50px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1201px) {
  .hero-action {
    margin-top: 60px;
    flex-direction: row;
  }
}

.hero-action__link {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
@media screen and (min-width: 480px) {
  .hero-action__link {
    width: 145px;
  }
}

.hero-action__link-primary {
  background-color: #27ae60;
  padding: 12px 24px;
}

.hero-action__link-secondary {
  outline: 1px solid #fff;
  padding: 12px 32px;
}

.hero-action__link:hover {
  transform: scale(1.1);
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__img {
  padding: 16px;
  width: 300px;
  height: 300px;
  border: 5px solid #27ae60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  order: 1;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero__img {
    margin-top: 0px;
    margin-left: 32px;
    order: 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .hero__img {
    margin-top: 0px;
    width: 400px;
    height: 400px;
    margin-left: 32px;
    order: 2;
  }
}
@media screen and (min-width: 1201px) {
  .hero__img {
    width: 500px;
    height: 500px;
    border: 5px solid #27ae60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    order: 2;
  }
}

.status {
  width: 32px;
  height: 32px;
  background-color: #27ae60;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  right: 38px;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .status {
    bottom: 25px;
    right: 58px;
  }
}
@media screen and (min-width: 1201px) {
  .status {
    bottom: 25px;
    right: 90px;
  }
}

.hero_badge {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  position: absolute;
  padding: 12px 18px;
  background-color: #fff;
  border-radius: 8px;
  bottom: 30px;
  left: 0px;
  animation: tada 1.5s ease infinite;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .hero_badge {
    padding: 16px 24px;
    bottom: 50px;
    left: -23px;
  }
}
@media screen and (min-width: 1201px) {
  .hero_badge {
    bottom: 100px;
    left: -40px;
  }
}

.hero__ava {
  border-radius: 50%;
  height: 260px;
  width: 260px;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .hero__ava {
    width: 360px;
    height: 360px;
  }
}
@media screen and (min-width: 1201px) {
  .hero__ava {
    border-radius: 50%;
    width: 460px;
    height: 460px;
  }
}

.hero__inner {
  order: 2;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .hero__inner {
    order: 1;
  }
}

.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .portfolio_title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_title {
    text-align: left;
  }
}

.portfolio_description {
  margin-top: 16px;
  max-width: 576px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 16px auto 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .portfolio_description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_description {
    text-align: left;
    margin: 16px 0 0;
  }
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .portfolio_list {
    gap: 64px;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_list {
    gap: 0px;
    justify-content: space-between;
  }
}

.portfolio_list li {
  background-color: #fff;
  max-width: 330px;
  border-radius: 16px;
  transition: background-color 0.5s ease;
}

.portfolio_list img {
  border-radius: 10px 10px 0 0;
}

.indiv_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #132238;
}

.indiv_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
  color: #556070;
  margin-top: 8px;
}

.live_page_button {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  background-color: #27ae60;
  padding: 8px 24px;
  text-align: justify;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .live_page_button {
    opacity: 0;
  }
}

.button_center_div:hover .div_img {
  transition: filter 0.7s ease;
}
@media screen and (min-width: 1200px) {
  .button_center_div:hover .div_img {
    filter: brightness(60%);
  }
}

.button_center_div:hover .live_page_button {
  transition: opacity 0.7s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button_center_div:hover .live_page_button {
    opacity: 1;
  }
}

.button_center_div {
  position: relative;
}

.div_img {
  width: 100%;
  height: auto;
  transition: filter 1s ease;
  filter: brightness(100%);
}

.little_div {
  padding: 16px 24px;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container_contact {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media screen and (min-width: 768px) {
  .container_contact {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .container_contact {
    gap: 184px;
    margin-top: 32px;
  }
}

.secondary_container_contacts {
  display: flex;
  flex-direction: column;
  width: 292px;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  order: 1;
}
@media screen and (min-width: 768px) {
  .secondary_container_contacts {
    order: 2;
  }
}

.contacts_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .contacts_title {
    font-size: 36px;
  }
}

.container_img {
  max-width: 570px;
  order: 2;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container_img {
    order: 1;
  }
}

.contacts_description {
  font-family: "DM Sans", sans-serif;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .contacts_description {
    font-size: 18px;
  }
}

.contacts_main_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .contacts_main_title {
    font-size: 48px;
  }
}

.contacts_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
}
@media screen and (min-width: 480px) {
  .contacts_list {
    margin-top: 16px;
  }
}

.black_icon {
  filter: invert(0);
}

.contact_link {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .contact_link {
    font-size: 24px;
  }
}

.contact_link img {
  margin-right: 24px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
  justify-content: center;
}

.row_second {
  margin-top: 50px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4f4f4f;
  padding-bottom: 10px;
  width: 250px;
  color: #fff;
  transition: border-color 0.5s ease;
}

.text-area {
  background-color: transparent;
  border: none;
  border: 1px solid #4f4f4f;
  border-radius: 8px;
  padding: 11px 0px 0px 15px;
  max-width: 570px;
  width: 100%;
  height: 109px;
  margin-top: 46px;
  color: #fff;
  resize: none;
  transition: border-color 0.5s ease;
}

.form-button {
  display: block;
  border-radius: 8px;
  width: 143px;
  height: 42px;
  color: #fff;
  background-color: #27ae60;
  font-weight: 500;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  margin-top: 33px;
}

.input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  transition: border-color 0.5s ease;
}

.input:not(:-moz-placeholder):invalid {
  border: none;
  border-bottom: 1px solid red;
  -moz-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

.input:not(:placeholder-shown):invalid {
  border: none;
  border-bottom: 1px solid red;
  transition: border-color 0.5s ease;
}

.input:valid {
  border: none;
  border-bottom: 1px solid #27ae60;
  transition: border-color 0.5s ease;
}

.text-area:focus {
  outline: none;
  border: 1px solid #fff;
  transition: border-color 0.5s ease;
}/*# sourceMappingURL=main.css.map */