@import url("./base.css");
@import url(./variables.css);
@import url(./container.css);
@import url(./header.css);
@import url(./hero_section.css);
@import url(./about_section.css);
@import url(./portfolio_section.css);
@import url(./contacts_section.css);

body {
  background-color: var(--background-color);
  transition: background-color 0.3s linear, color 0.3s linear;
}

body:has(#theme:checked){
  background-color: rgb(255, 255, 255);
  --base-color: rgb(17, 17, 17);
  --secondary-color: rgb(33, 33, 33);
  --titles-color: #e6e6e6;
  --indiv-color: #dadada;
  --black-color: rgb(255, 255, 255);
  --icon-filter: invert(1);
}


.social_list{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer{
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text{
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: var(--base-color);

  @media screen and (min-width:480px) {
    font-size: 14px;
  }
}

.foot_link{
  background-color: var(--primary-color);
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 
    transform 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
  

  @media screen and (min-width:350px) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width:480px) {
    width: 40px;
    height: 40px;
  }
}

.foot_link img{
  width: 15px;

  @media screen and (min-width:350px) {
    width: 17px;
  }
  @media screen and (min-width:480px) {
    width: 22px;
  }
}

.foot_link:hover{
  transform: scale(1.1);
}