:root {
  --background-color: #171717;
  --base-color: #fff;
  --secondary-color: #828282;
  --primary-color: #27ae60;
  --black-color: #000;
  --titles-color: #132238;
  --indiv-color: #556070;
  --icon-filter: invert(0)
}