@use "../utils/variables" as *;

.social_list{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer{
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text{
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: $base-color;

  @media screen and (min-width:480px) {
    font-size: 14px;
  }
}

.foot_link{
  background-color: $primary-color;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 
    transform 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
  
  @media screen and (min-width:480px) {
    width: 40px;
    height: 40px;
  }
}

.foot_link img{
  width: 16px;

  @media screen and (min-width:480px) {
    width: 22px;
  }
}

.foot_link:hover{
  transform: scale(1.1);
}