@use "../utils/variables" as *;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body:has(#theme:checked){
  $background-color: rgb(255, 255, 255);
  $base-color: rgb(17, 17, 17);
  $secondary-color: rgb(33, 33, 33);
  $titles-color: #e6e6e6;
  $indiv-color: #dadada;
  $black-color: rgb(255, 255, 255);
  $icon-filter: invert(1);
}

body {
  background-color: $background-color;
  transition: background-color 0.3s linear, color 0.3s linear;
}
