@mixin small-screen{
    @media screen and (min-width:480px) {
        @content;
    }
}

@mixin medium-screen{
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin large-screen{
    @media screen and (min-width:1240px) {
        @content;
    }
}