@use "../utils/variables" as *;

.portfolio{
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio_title{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: $base-color;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width:768px) {
    font-size: 48px;
  }
  @media screen and (min-width:1200px) {
    text-align: left;
  }
}

.portfolio_description{
  margin-top: 16px;
  max-width: 576px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $base-color;
  margin: 16px auto 0;
  text-align: center;

  @media screen and (min-width:768px) {
    font-size: 18px;
  }
  @media screen and (min-width:1200px) {
    text-align: left;
    margin: 16px 0 0;
  }
}

.portfolio_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
  padding: 0;

  @media screen and (min-width:768px) {
    gap: 64px;
    margin-top: 64px;
  }
  @media screen and (min-width:1200px) {
    gap: 0px;
    justify-content: space-between;
  }
}

.portfolio_list li{
  background-color: $base-color;
  max-width: 330px;
  border-radius: 16px;
}

.portfolio_list img{
  border-radius: 10px 10px 0 0;
}

.indiv_title{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $titles-color;
}

.indiv_text{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
  color: $indiv-color;
  margin-top: 8px 
}

.live_page_button{
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: $base-color;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 8px 24px; 
  text-align: justify;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s ease-in-out;

  @media screen and (min-width:1200px) {
    opacity: 0;
  }
}

.button_center_div:hover .div_img{
  transition: filter 0.7s ease;

  @media screen and (min-width:1200px) {
    filter: brightness(60%);
  }
}

.button_center_div:hover .live_page_button{
  transition: opacity 0.7s ease-in-out;
  cursor: pointer;

  @media screen and (min-width:1200px) {
    opacity: 1;
  }
}

.button_center_div{
  position: relative;
}

.div_img{
  width: 100%;
  height: auto;  
  transition: filter 1s ease;
  filter: brightness(100%);
}

.little_div{
  padding: 16px 24px;
}